
body {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: slategray;
    height: 100%;
}

.content {
    background-color: burlywood;
    padding: 0px;
    margin: 0px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.resourceStatusBar {
    background-color: aliceblue;
    border: 2px solid black;
    margin-bottom: 5px;
    
}
.resourceStatusBar div {
    border-left: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;

}
.resourceStatusBar :first-child {
    border: 0;
}
.tabBar {
    justify-content: center;
    margin-bottom: 5px;
}
.tab {
    font-size: 1.5em;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: aliceblue;
    margin-left: 5px;
    margin-right: 5px;
}
.tab:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.608);
}

.resource {
    cursor: pointer;
    background-color: aliceblue;
    padding: 2px;
    text-align: center;
}

.resource:hover {
    background-color: rgba(240, 248, 255, 0.608);
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}

.menuTitle {
    font-size: 1.2em;
    font-weight: bold;
}

.populationContainer {
    display: flex;
    flex-direction : column;
    justify-content: end;
    align-items: center;
    height: 450px;
    width: 500px;
}